numpy
torch
e3nn==0.4.4  # required by mace-torch 0.3.15 checkpoint serialization
mace-torch
pytorch-lightning
omegaconf
hydra-core
tensorboard
torchmetrics
wandb
plotly
matplotlib
nbformat
scikit-learn
scipy
deeptime
dscribe
ase
ovito
hdbscan
seaborn
umap-learn
pytest
geomloss
